html,
body {
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  -webkit-font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100vh;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.home-body {
  background-image: url(/images/pc_bg.jpg?0b07507732a1691a4992f61bc96ab349);
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
}

.body {
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination .active {
  color: white;
  background-color: #0ab8b7;
}

.pagination .disabled {
  color: #eaedf1;
}

.pagination li {
  border: 1px solid #eaedf1;
  padding: 0.5rem 1rem;
}

.pagination li a {
  color: #0ab8b7;
}

.header {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #078080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header__left {
  padding-left: 2rem;
}

.header__left a {
  color: white;
}

.header__right {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
}

.header__right__list {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0 1rem;
}

.header__right__list:hover {
  color: #0ab8b7;
  transition: 0.5s;
}

.header__right .logout__button {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.header__right .logout__button:hover {
  color: #0ab8b7;
  transition: 0.5s;
}

.container {
  margin-top: 3rem;
  text-align: center;
}

.container .note {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container__card {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.container__card__header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.container__card__body {
  color: black;
  padding: 3rem 0;
}

.container__card__body__box {
  margin: 0 auto 1rem;
  width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.container__card__body__box .invalid-feedback {
  color: red;
}

.container__card__body__box .text-danger {
  color: red;
}

.container__card__body__box .form-control {
  padding: 0.3rem 0.5rem;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
}

.container__card__body__button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.container__card__body__button .send {
  width: 120px;
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0 2rem;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.container__card__body__button .send a {
  color: white;
}

.container__card__body__button .send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.main {
  display: flex;
  margin-top: 5rem;
  color: #222222;
}

.main .card {
  width: 320px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.main .card__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #078080;
  padding: 0.8rem 0;
  text-align: center;
}

.main .card__list {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.main .card__list li {
  list-style-position: inside;
}

.main .card .fas {
  margin-right: 0.6rem;
}

.main .card .button__group {
  margin: 2rem auto;
  width: 180px;
}

.main .card .button__group__induction {
  text-align: center;
}

.main .card .button__group__start {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  line-height: 60px;
  background-color: #fce300;
  border-radius: 150px;
  box-shadow: 0 2px 5px 0 rgba(22, 43, 29, 0.2), 0 2px 10px 0 rgba(22, 44, 29, 0.2);
}

.main .card .button__group__start:hover {
  background-color: rgba(172, 166, 94, 0.7);
  transition: 0.2s;
}

.section {
  margin-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
}

.section__card {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.section__card__header {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.section__card__title {
  font-size: 1.4rem;
  color: red;
  margin-top: 2rem;
  text-align: center;
}

.section__card__title span {
  padding-left: 2rem;
}

.section__card__maker {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 85%;
}

.section__card__maker__box {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin: 0 auto 1rem;
  width: 170px;
  text-align: left;
  color: #0ab8b7;
}

.section__card__file {
  color: red;
}

.section__card__button {
  margin: 0 auto;
  text-align: center;
}

.section__card__button .send {
  width: 120px;
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 2rem 0;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.section__card__button .send a {
  color: white;
}

.section__card__button .send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.history-title {
  display: flex;
  justify-content: center;
}

.history-title p {
  font-size: 1.4rem;
  margin: 0 2rem;
}

.selected-value__card {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.selected-value__card__header {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.selected-value__card__body {
  padding: 1rem 0;
  color: black;
  display: flex;
  justify-content: space-around;
}

.not-find {
  color: red;
}

.match-container {
  padding-bottom: 3rem;
}

.match-container__car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.match-container__car__box {
  text-align: left;
  margin: 4rem 2rem 0 2rem;
}

.match-container__car__box__name {
  font-size: 1.2rem;
  text-align: center;
}

.match-container__car__box__title {
  display: flex;
  justify-content: space-between;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-wrapper {
  width: 360px;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-wrapper .swiper-slide {
  width: 360px;
  height: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-pagination {
  bottom: 40;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-button-prev {
  top: 40%;
  color: rgba(35, 35, 35, 0.3);
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-button-next {
  top: 40%;
  color: rgba(35, 35, 35, 0.3);
}

.match-container__car__box .no-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  height: 270px;
  background-color: #c6c6c6;
}

.match-container__car__box .no-image .far {
  color: white;
  margin: auto;
}

.match-container__car__box .no-image .far p {
  font-size: 2rem;
}

.offer-container {
  margin-top: 6rem;
}

.offer-container__card {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.offer-container__card__header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.offer-container__card__body {
  display: inline-block;
  margin: 0 auto;
  color: black;
  padding: 2rem 0;
}

.offer-container__card__body__name {
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.offer-container__card__body__image {
  width: 600px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

