html,
body {
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  -webkit-font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100vh;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.home-body {
  background-image: url(/images/pc_bg.jpg?0b07507732a1691a4992f61bc96ab349);
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 540px) {
  .home-body {
    background-image: url(/images/sp_bg.jpg?5374306ac21619487aa436d889e4c31c);
    background-position: unset;
  }
}

.body {
  background-color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.pagination .active {
  color: white;
  background-color: #0ab8b7;
}

.pagination .disabled {
  color: #eaedf1;
}

.pagination li {
  border: 1px solid #eaedf1;
  padding: 0.5rem 1rem;
}

.pagination li a {
  color: #0ab8b7;
}

@media screen and (min-width: 541px) {
  .header {
    width: 100%;
    padding: 0.7rem 0;
    background-color: #078080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .header__hamburger {
    display: none;
  }

  .header__left {
    padding-left: 2rem;
    letter-spacing: 0.7rem;
  }

  .header__left a {
    color: white;
  }

  .header__right {
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
  }

  .header__right__list {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0 1rem;
  }

  .header__right__list:hover {
    color: #0ab8b7;
    transition: 0.5s;
  }

  .header__right__list .br {
    display: none;
  }

  .header__right .logout__button {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header__right .logout__button:hover {
    color: #0ab8b7;
    transition: 0.5s;
  }

  .header__right .close {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #078080;
  }

  .header__left {
    padding: 1rem 0 1rem 1rem;
    letter-spacing: 0.7rem;
  }

  .header__left a {
    color: white;
  }

  .header__right {
    padding-right: 1rem;
  }

  .header__right__list {
    color: #646464;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 2rem 0;
    margin: 0 1rem;
  }

  .header__right__list:hover {
    color: #0ab8b7;
    transition: 0.5s;
  }

  .header__right .logout__button {
    color: #646464;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header__right .logout__button:hover {
    color: #0ab8b7;
    transition: 0.5s;
  }

  .header__hamburger {
    border: none;
    position: fixed;
    width: 30px;
    height: 17px;
    right: 20px;
    top: 15px;
    cursor: pointer;
    background-color: #078080;
  }

  .header__hamburger span {
    top: 15px;
    content: "";
    right: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
  }

  .header__hamburger span::before {
    top: 7px;
    content: "";
    right: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
  }

  .header__hamburger span::after {
    top: 14px;
    content: "";
    right: 0;
    width: 30px;
    height: 3px;
    background-color: white;
    position: absolute;
  }

  .header .hide {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: -400px;
  }

  .header .show {
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    transition: all 0.4s ease-out;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.3);
  }

  .header .close {
    color: red;
    font-size: 2rem;
    padding: 1rem;
    margin: 0 1rem;
  }
}

.container {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .container {
    overflow: hidden;
    margin-top: 8rem;
  }
}

.container .note {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  .container .note {
    font-size: 1rem;
  }
}

@media screen and (min-width: 541px) {
  .container .note .br {
    display: none;
  }
}

.container__card {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .container__card {
    width: 90%;
  }
}

.container__card__header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.container__card__body {
  color: black;
  padding: 2rem 0;
}

.container__card__body__box {
  margin: 0 auto 1rem;
  width: 350px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 540px) {
  .container__card__body__box {
    width: 90%;
  }
}

.container__card__body__box .invalid-feedback {
  color: red;
}

.container__card__body__box .text-danger {
  color: red;
}

.container__card__body__box .form-control {
  padding: 0.3rem 0.5rem;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
}

.container__card__body__button {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.container__card__body__button .send {
  width: 120px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5rem;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.container__card__body__button .send a {
  color: white;
}

.container__card__body__button .send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.main {
  margin-top: 5rem;
  color: #222222;
}

@media screen and (min-width: 541px) {
  .main {
    display: flex;
  }
}

.main .card {
  width: 320px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .main .card {
    margin: 2rem auto;
  }
}

.main .card__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #078080;
  padding: 0.8rem 0;
  text-align: center;
}

.main .card__list {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.main .card__list li {
  list-style-position: inside;
}

.main .card .fas {
  margin-right: 0.6rem;
}

.main .card .button__group {
  margin: 2rem auto;
  width: 180px;
}

@media screen and (max-width: 540px) {
  .main .card .button__group {
    margin: 0.5rem auto;
    padding-bottom: 1rem;
  }
}

.main .card .button__group__induction {
  text-align: center;
}

.main .card .button__group__start {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  line-height: 60px;
  background-color: #fce300;
  border-radius: 150px;
  box-shadow: 0 2px 5px 0 rgba(22, 43, 29, 0.2), 0 2px 10px 0 rgba(22, 44, 29, 0.2);
}

.main .card .button__group__start:hover {
  background-color: rgba(172, 166, 94, 0.7);
  transition: 0.2s;
}

.section {
  color: black;
  margin-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 540px) {
  .section__title {
    font-size: 1.5rem;
  }
}

.section__title span {
  font-size: 1rem;
  font-weight: normal;
}

.section__form {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 540px) {
  .section__form {
    width: 90%;
  }
}

.section__form__arrow {
  font-size: 2rem;
  margin: 2rem 0;
}

.section__form__card {
  border: solid 1px black;
}

.section__form__card__header {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0 2rem;
  border-bottom: solid 1px black;
}

.section__form__card__maker {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 85%;
}

.section__form__card__maker__box {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  margin: 1.3rem auto;
  width: 170px;
  text-align: left;
}

.section__form__card__maker__box select {
  height: 25px;
}

.section__form__card__file {
  margin: 3rem;
}

.section__form__card__button {
  margin: 0 auto;
  text-align: center;
}

.section__form__card__button .send {
  width: 150px;
  color: black;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 2rem 0;
  background-color: #c8c8c8;
  letter-spacing: 0.2rem;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.section__form__card__button .send a {
  color: white;
}

.section__form__card__button .send:hover {
  background-color: rgba(200, 200, 200, 0.7);
  transition: 0.2s;
}

.user {
  margin-bottom: 5rem;
}

@media screen and (max-width: 540px) {
  .user {
    margin-bottom: 3rem;
  }
}

.user__send {
  display: inline-block;
  width: 220px;
  height: 50px;
  color: white;
  margin: 0 4rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .user__send {
    margin-bottom: 1rem;
  }
}

.user__send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.history-title {
  color: black;
  display: flex;
  justify-content: center;
}

.history-title p {
  font-size: 1.4rem;
  margin: 0 2rem;
}

@media screen and (max-width: 540px) {
  .history-title p {
    font-size: 1rem;
    margin: 0 1rem;
  }
}

.selected-value__card {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .selected-value__card {
    width: 90%;
  }
}

.selected-value__card__header {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2.5rem;
  background-color: #0ab8b7;
  font-weight: bold;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.selected-value__card__body {
  padding: 2rem 0;
  color: #646464;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 540px) {
  .selected-value__card__body {
    display: flex;
    flex-wrap: wrap;
  }
}

.not-find {
  margin-top: 2rem;
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.twitter {
  color: #646464;
  text-align: center;
  padding-bottom: 3rem;
}

.match-container {
  padding-bottom: 3rem;
}

.match-container__car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.match-container__car__box {
  text-align: left;
  margin: 4rem 2rem 0 2rem;
}

.match-container__car__box__value {
  color: black;
}

.match-container__car__box__value__name {
  font-size: 1.2rem;
  font-weight: bold;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-wrapper {
  width: 360px;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-wrapper .swiper-slide {
  width: 360px;
  height: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-pagination {
  bottom: 40;
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-button-prev {
  top: 40%;
  color: rgba(35, 35, 35, 0.3);
}

.match-container__car__box .swiper-custom-parent .swiper-container .swiper-button-next {
  top: 40%;
  color: rgba(35, 35, 35, 0.3);
}

.match-container__car__box .no-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  height: 270px;
  background-color: #c6c6c6;
}

.match-container__car__box .no-image .far {
  color: white;
  margin: auto;
}

.match-container__car__box .no-image .far p {
  font-size: 2rem;
}

.title {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.my-image {
  text-align: center;
  padding-bottom: 3rem;
}

.my-image .not-find {
  margin-top: 2rem;
  color: #646464;
}

.my-image__container {
  display: flex;
  flex-wrap: wrap;
}

.my-image__container__card {
  text-align: center;
  width: 30%;
  margin: 2rem auto 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.my-image__container__card__header {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

.my-image__container__card__body {
  display: inline-block;
  margin: 0 auto;
  color: black;
  padding: 2rem 0;
}

.my-image__container__card__body__image {
  width: 360px;
  height: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.my-image__container__card__body form {
  margin-top: 2rem;
}

.my-image__container__card__body form .send {
  width: 120px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 2rem;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.my-image__container__card__body form .send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.offer-container {
  margin-top: 6rem;
  padding-bottom: 3rem;
}

.offer-container__card {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .offer-container__card {
    width: 90%;
  }
}

.offer-container__card__header {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  background-color: #0ab8b7;
  border-bottom: solid 1px #078080;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 540px) {
  .offer-container__card__header {
    font-size: 1.3rem;
  }
}

.offer-container__card__body {
  display: inline-block;
  margin: 0 auto;
  color: black;
  padding: 2rem 0;
}

.offer-container__card__body__name {
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  .offer-container__card__body__name {
    flex-direction: column;
  }

  .offer-container__card__body__name p {
    font-size: 1rem;
  }
}

.offer-container__card__body__image {
  width: 600px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .offer-container__card__body__image {
    width: 250px;
  }
}

.offer-container .button {
  margin-top: 3rem;
  text-align: center;
}

.offer-container .button .send {
  display: inline-block;
  width: 200px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 2rem;
  background-color: #0ab8b7;
  line-height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.offer-container .button .send:hover {
  background-color: rgba(15, 202, 202, 0.7);
  transition: 0.2s;
}

.about-container {
  background-color: whitesmoke;
  color: black;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

@media screen and (max-width: 540px) {
  .about-container {
    width: 100%;
  }
}

.about-container h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}

.about-container__box {
  margin: 0 1rem 2rem 1rem;
}

.about-container__box h3 {
  padding-bottom: 0.5rem;
}

.about-container__box ol {
  margin: 1rem 0;
  padding-left: 4rem;
}

@media screen and (max-width: 540px) {
  .about-container__box ol {
    padding-left: 2rem;
  }
}

.about-container__box ol li {
  list-style: decimal;
}

