@import 'variables';

body {
  width: 100%;
  height: 100vh;
  background-image: url("../image/pc_bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  width: 100%;
  padding: 1rem 0;
  background-color: $header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    padding-left: 1rem;
  }
  &__right {
    padding-right: 1rem;
    a {
      color: $white;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
    }
  }
}
