@import 'variables';
// @import '~bootstrap/scss/bootstrap';
.home-body {
  background-image: url("../image/pc_bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
  @include sp-layout() {
    background-image: url("../image/sp_bg.jpg");
    background-position: unset;
    position: absolute;
    bottom: 0;
  }
}

.body {
  background-color: $white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  .active {
    color: $white;
    background-color: $main;
  }
  .disabled {
    color: rgb(234,237,241);
  }
  li {
    border: 1px solid rgb(234,237,241);
    padding: 0.5rem 1rem;
    a {
      color: $main;
    }
  }
}

// -----------------------
// header
// -----------------------
@include pc-layout() {
  .header {
    width: 100%;
    padding: 0.7rem 0;
    background-color: $header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow;
    &__hamburger {
      display: none;
    }
    &__left {
      padding-left: 2rem;
      letter-spacing: 0.7rem;
      a {
        color: $white;
      }
    }
    &__right {
      padding-right: 1rem;
      display: flex;
      flex-direction: row;
      &__list {
        color: $white;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1rem;
        margin: 0 1rem;
        &:hover {
          color: $main;
          transition: 0.5s;
        }
        .br {
          display: none;
        }
      }
      .logout {
        &__button {
          color: $white;
          font-size: 1.3rem;
          font-weight: bold;
          padding: 1rem;
          margin: 0 1rem;
          border: none;
          outline: none;
          background-color:transparent;
          cursor: pointer;
          &:hover {
            color: $main;
            transition: 0.5s;
          }
        }
      }
      .close {
        display: none;
      }
    }
  }
}
@include sp-layout() {
  .header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: $header;
    &__left {
      padding: 1rem 0 1rem 1rem;
      letter-spacing: 0.7rem;
      a {
        color: $white;
      }
    }
    &__right {
      padding-right: 1rem;
      &__list {
        color: $gray;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 2rem 0;
        margin: 0 1rem;
        &:hover {
          color: $main;
          transition: 0.5s;
        }
      }
      .logout {
        &__button {
          color: $gray;
          font-size: 1.3rem;
          font-weight: bold;
          padding: 1rem;
          margin: 0 1rem;
          border: none;
          outline: none;
          background-color:transparent;
          cursor: pointer;
          &:hover {
            color: $main;
            transition: 0.5s;
          }
        }
      }
    }
    &__hamburger {
      border: none;
      position: fixed;
      width: 30px;
      height: 17px;
      right: 20px;
      top: 15px;
      cursor: pointer;
      background-color: rgb(7, 128, 128);
      span {
        top: 15px;
        @include three-line;
        &::before {
          top: 7px;
          @include three-line;
        }
        &::after {
          top: 14px;
          @include three-line;
        }
      }
    }
    .hide {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0px;
      right: -400px;
    }
    .show {
      text-align: center;
      position: fixed;
      display: flex;
      flex-direction: column;
      z-index: 10;
      top: 0px;
      right: 0px;
      width: 200px;
      height: 100%;
      transition: all 0.4s ease-out;
      background-color: rgba(255, 255, 255,0.9);
      box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.3);
    }
    .close {
      color: red;
      font-size: 2rem;
      padding: 1rem;
      margin: 0 1rem;
    }
  }
}

// -----------------------
// 認証/main
// -----------------------
.container {
  margin-top: 3rem;
  text-align: center;
  @include sp-layout() {
    overflow: hidden;
    margin-top: 8rem;
  }
  .note {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    @include sp-layout() {
      font-size: 1rem;
    }
    .br {
      @include pc-layout() {
        display: none;
      }
    }
  }
  &__card {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    box-shadow: $box-shadow;
    border-radius: 5px;
    @include sp-layout() {
      width: 90%;
    }
    &__header {
      font-size: 1.5rem;
      padding: 0.5rem 0;
      background-color: $main;
      border-bottom: solid 1px $header;
      box-shadow: $box-shadow;
      border-radius: 5px 5px 0 0;
    }
    &__body {
      color: $black;
      padding: 2rem 0;
      &__box {
        margin: 0 auto 1rem;
        width: 350px;
        text-align: left;
        display: flex;
        flex-direction: column;
        @include sp-layout() {
          width: 90%;
        }
        .invalid-feedback {
          color: red;
        }
        .text-danger {
          color: red;
        }
        .form-control {
          padding: 0.3rem 0.5rem;
          height: calc(1.5em + .75rem + 2px);
          font-size: 1rem;
        }
      }
      &__button {
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
        .send {
          width: 120px;
          color: $white;
          font-size: 1rem;
          font-weight: bold;
          margin: 0 0.5rem;
          background-color: $main;
          line-height: 50px;
          border: none;
          outline: none;
          cursor: pointer;
          box-shadow: $box-shadow;
          border-radius: 5px;
          a {
            color: $white;
          }
          &:hover {
            background-color: rgba(rgb(15, 202, 202), 0.7);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

// -----------------------
// index
// -----------------------
.main {
  margin-top: 5rem;
  color: rgb(34, 34, 34);
  @include pc-layout() {
    display: flex;
  }
  .card {
    width: 320px;
    background-color: rgba(255,255,255,.6);
    margin-left: 2.5rem;
    box-shadow: $box-shadow;
    border-radius: 5px;
    @include sp-layout() {
      margin: 2rem auto;
    }
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $white;
      background-color: $header;
      padding: .8rem 0;
      text-align: center;
    }
    &__list {
      padding: 0.5rem;
      font-size: 1.2rem;
      li {
        list-style-position: inside;
      }
    }
    .fas {
      margin-right: 0.6rem;
    }
    .button {
      &__group {
        margin: 2rem auto;
        width: 180px;
        @include sp-layout() {
          margin: 0.5rem auto;
          padding-bottom: 1rem;
        }
        &__induction {
          text-align: center;
        }
        &__start {
          user-select: none;
          display: block;
          height: 60px;
          text-align: center;
          margin: 0 auto;
          font-size: 1.4rem;
          font-weight: bold;
          color: $black;
          line-height: 60px;
          background-color: rgb(252, 227, 0);
          border-radius: 150px;
          box-shadow: 0 2px 5px 0 rgb(22, 43, 29,0.2), 0 2px 10px 0 rgba(22,44,29,0.2);
          &:hover {
            background-color: rgba(172, 166, 94, 0.7);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

// -----------------------
// post_car
// -----------------------
.section {
  color: $black;
  margin-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    @include sp-layout() {
      font-size: 1.5rem;
    }
    span {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  &__form {
    width: 60%;
    margin: 0 auto;
    @include sp-layout() {
      width: 90%;
    }
    &__arrow {
      font-size: 2rem;
      margin: 2rem 0;
    }
    &__card {
      border: solid 1px $black;
      &__header {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0;
        margin: 0 2rem;
        border-bottom: solid 1px $black;
      }
      &__maker {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 85%;
        &__box {
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          margin: 1.3rem auto;
          width: 170px;
          text-align: left;
          @include sp-layout() {
            width: 150px;
          }
          select {
            height: 25px;
          }
        }
      }
      &__file {
        margin: 3rem;
      }
      &__button {
        margin: 0 auto;
        text-align: center;
        .send {
          width: 150px;
          color: $black;
          font-size: 1rem;
          padding: 0.3rem;
          margin: 2rem 0;
          background-color: rgb(200, 200, 200);
          letter-spacing: 0.2rem;
          line-height: 50px;
          border: none;
          outline: none;
          cursor: pointer;
          box-shadow: $box-shadow;
          a {
            color: $white;
          }
          &:hover {
            background-color: rgba(rgb(200, 200, 200), 0.7);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

// -----------------------
// result/my_page
// -----------------------
.user {
  margin-bottom: 5rem;
  @include sp-layout() {
    margin-bottom: 3rem;
  }
  &__send {
    display: inline-block;
    width: 220px;
    height: 50px;
    color: $white;
    margin: 0 4rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: $main;
    line-height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: $box-shadow;
    border-radius: 5px;
    @include sp-layout() {
      margin-bottom: 1rem;
    }
    &:hover {
      background-color: rgba(rgb(15, 202, 202), 0.7);
      transition: 0.2s;
    }
  }
}
.history-title {
  color: $black;
  display: flex;
  justify-content: center;
  p {
    font-size: 1.4rem;
    margin: 0 2rem;
    @include sp-layout() {
      font-size: 1rem;
      margin: 0 1rem;
    }
  }
}
.selected-value {
  &__card {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    box-shadow: $box-shadow;
    border-radius: 5px;
    @include sp-layout() {
      width: 90%;
    }
    &__header {
      color: $white;
      font-size: 1rem;
      padding: 0.5rem 2.5rem;
      background-color: $main;
      font-weight: bold;
      border-bottom: solid 1px $header;
      box-shadow: $box-shadow;
      border-radius: 5px 5px 0 0;
    }
    &__body {
      padding: 2rem 0;
      color: $gray;
      display: flex;
      justify-content: space-around;
      @include sp-layout() {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
.not-find {
  margin-top: 2rem;
  text-align: center;
  color: $black;
  font-size: 1.5rem;
}
.twitter {
  color: $gray;
  text-align: center;
  padding-bottom: 3rem;
}
.match-container {
  padding-bottom: 3rem;
  &__car {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__box {
      text-align: left;
      margin: 4rem 2rem 0 2rem;
      @include sp-layout() {
        margin: 2rem 2rem 0 2rem;
      }
      &__value {
        color: $black;
        &__name {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .swiper-custom-parent {
        .swiper-container{
          .swiper-wrapper {
            width: 360px;
            @include sp-layout() {
              width: 300px;
            }
            .swiper-slide {
              width: 360px;
              height: 270px;
              box-shadow: $box-shadow;
              @include sp-layout() {
                width: 300px;
                height: 210px;
              }
            }
          }
          .swiper-pagination {
            bottom: 40;
          }
          .swiper-button-prev {
            top: 40%;
            color: rgba(35,35,35,0.3);
          }
          .swiper-button-next {
            top: 40%;
            color: rgba(35,35,35,0.3);
          }
        }
      }
      .no-image {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 360px;
        height: 270px;
        background-color: rgb(198,198,198);
        @include sp-layout() {
          width: 300px;
          height: 210px;
        }
        .far {
          color: $white;
          margin: auto;
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

// -----------------------
// my_image
// -----------------------
.title {
  color: $black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.my-image {
  text-align: center;
  padding-bottom: 3rem;
  .not-find {
    margin-top: 2rem;
    color: $gray;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    &__card {
      text-align: center;
      width: 30%;
      margin: 2rem auto 0;
      box-shadow: $box-shadow;
      border-radius: 5px;
      &__header {
        font-size: 1.7rem;
        padding: 0.5rem 0;
        background-color: $main;
        border-bottom: solid 1px $header;
        box-shadow: $box-shadow;
        border-radius: 5px 5px 0 0;
      }
      &__body {
        display: inline-block;
        margin: 0 auto;
        color: $black;
        padding: 2rem 0;
        &__image {
          width: 360px;
          height: 270px;
          box-shadow: $box-shadow;
          border-radius: 5px;
        }
        form {
          margin-top: 2rem;
          .send {
            width: 120px;
            color: $white;
            font-size: 1rem;
            font-weight: bold;
            margin: 0 2rem;
            background-color: $main;
            line-height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
            box-shadow: $box-shadow;
            border-radius: 5px;
            &:hover {
              background-color: rgba(rgb(15, 202, 202), 0.7);
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}


// -----------------------
// offer
// -----------------------
.offer-container {
  margin-top: 6rem;
  padding-bottom: 3rem;
  &__card {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    box-shadow: $box-shadow;
    border-radius: 5px;
    @include sp-layout() {
      width: 90%;
    }
    &__header {
      font-size: 1.7rem;
      padding: 0.5rem 0;
      background-color: $main;
      border-bottom: solid 1px $header;
      box-shadow: $box-shadow;
      border-radius: 5px 5px 0 0;
      @include sp-layout() {
        font-size: 1.3rem;
      }
    }
    &__body {
      display: inline-block;
      margin: 0 auto;
      color: $black;
      padding: 2rem 0;
      &__name {
        font-size: 1.5rem;
        text-align: left;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;
        @include sp-layout() {
          flex-direction: column;
          p {
            font-size: 1rem;
          }
        }
      }
      &__image {
        width: 600px;
        box-shadow: $box-shadow;
        border-radius: 5px;
        @include sp-layout() {
          width: 250px;
        }
      }
    }
  }
  .button {
    margin-top: 3rem;
    text-align: center;
    .send {
      display: inline-block;
      width: 200px;
      color: $white;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 2rem;
      background-color: $main;
      line-height: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: $box-shadow;
      border-radius: 5px;
      &:hover {
        background-color: rgba(rgb(15, 202, 202), 0.7);
        transition: 0.2s;
      }
    }
  }
}

// -----------------------
// about
// -----------------------
.about-container {
  background-color: rgb(245, 245, 245);
  color: $black;
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
  @include sp-layout() {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
  }
  &__box {
    margin: 0 1rem 2rem 1rem;
    h3 {
      padding-bottom: 0.5rem;
    }
    ol {
      margin: 1rem 0;
      padding-left: 4rem;
      @include sp-layout() {
        padding-left: 2rem;
      }
      li {
        list-style: decimal;
      }
    }
  }
}
