@import 'variables';

body {
  width: 100%;
  height: 100vh;
  background-image: url("../image/pc_bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  color: red;
}
